ul {
	list-style-type: none; 
}
ul ul{
	display: none;
}

#lists ul li > a {
	color: grey;
}
ul li:hover > ul {
	display: block;
}
a, a:visited {
    text-decoration:none;
    color:black;
}
a:hover{
	text-decoration: underline;
}
li { 
	float: left;
	clear: left;
}